/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-a1a-table-of-content {
	position: sticky;
	top: 50px; 

	.a1a-block-heading {
		display: flex;
		align-items: center;
		justify-content: space-between;

		button {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 30px;
			height: 30px;
			border: none;
			background: transparent;
		}
	}

	.__block-inner {
		padding: 1.5em;
    background: var(--wp--preset--color--base-2) !important;
		border-radius: 1px;

		ul {
			margin: 0;
			padding: 0;

			li {
				list-style: none;

				a.__is-h2 {
					font-size: 1.2em;
				}
				a.__is-h3 {
					font-size: 1em;
					padding-left: 1em;
					display: flex;
					width: 100%;

					&:before {
						content: '-';
						display: block;
						margin-right: .5em;
					}
				}

				a {
					text-decoration: none;
				}
			}
		}

		ol {
			margin: 0;
			padding: 0 0 0 1em;
			font-size: .9em;

			li {
				margin-bottom: .5em;
				opacity: .6;

				&:hover {
					opacity: 1;

					a { 
						border-bottom: solid 1px var(--wp--preset--color--contrast);
					}
				}

				a {
					text-decoration: none;
					transition: .3s ease; 
				}
			}
		}
	}

	.a1a-block-heading {
		margin: 0 0 1em;
		font-size: 1.2em;
		font-weight: bold;
	}
}