/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-a1a-table-of-content {
	position: sticky;
	top: 50px; 

	.__block-inner {
		padding: 1.5em;
    background: var(--wp--preset--color--base-2) !important;
		border-radius: 1px;

		ol {
			margin: 0;
			padding: 0 0 0 1em;
			font-size: .9em;

			li {
				margin-bottom: .5em;
				opacity: .6;

				&:hover {
					opacity: 1;

					a { 
						border-bottom: solid 1px var(--wp--preset--color--contrast);
					}
				}

				a {
					text-decoration: none;
					transition: .3s ease; 
				}
			}
		}
	}

	.a1a-block-heading {
		margin: 0 0 1em;
		font-size: 1.2em;
		font-weight: bold;
	}
}